.ed-container{
    display:flex;
    flex-direction:column;
    height:100vh;
    background:rgb(3, 1, 19);
}
.ed-header{
    border-bottom:solid 3px rgb(39, 41, 63);
    background:rgb(3, 1, 19);
}
.ed-head-title{
    padding:1vh 0;
    width:200px;
    border-right:solid 3px rgb(39, 41, 63);
    height:3vh;
    color:white;
    display:flex;
    flex-direction:row;
    font-style: italic;
    font-size:14px;
    cursor:pointer;
}
.ed-editor-body{
    overflow-y:auto;
    overflow-x: hidden;
    height:100vh;
    resize: horizontal;
    min-width:20vw;
    width:40vw;
    max-width:60vw !important;
    color:rgb(223, 223, 223);
    font-family:monospace;
    font-size:15px;
    margin:0;
    padding:0;
}
.ed-editor-body p{
   padding:1vh;
   margin:0;
}
