.cv-container{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    background:rgb(255, 255, 255);
}
.cv-header{
    display:flex;
    padding:1vh;
    color:white;
    font-weight:600;
    color:rgb(150, 149, 160);
    background:rgb(42, 42, 48);

}
.cv-viewer{
    margin:0;
    flex-grow: 1;
    border:none;
}