.op-container{
    margin-top:3vh;
    display:flex;
    flex-direction:column;
    border-top:solid 2px;
    border-top: 2px solid rgb(19, 20, 32);
    padding:2vh;
    font-weight:600;
    flex-grow:1;
    border-bottom:solid 2px rgb(103, 102, 116);
    color:rgb(103, 102, 116);
}
.op-actions{
    color:rgb(103, 102, 116);
    font-size:14px;
    margin:2vh 0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    cursor:pointer;
    font-weight:600;
}
.op-header{
    margin-bottom:3vh;
}